<fieldset class="ux-checkbox">
    {{#if legend }}
    <legend>{{legend}}</legend>
    {{/if}}
    <label for="{{name}}">{{label}}</label>
    <input
        type="checkbox"
        name="{{name}}"
        checked="{{checked}}"
    />
</fieldset>
